/* global */

article.post h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid #b3b3b3;
}


.site-header {
  user-select: none;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: "Bree Serif", "Noto Serif SC";
  -webkit-font-smoothing: antialiased;
  margin: 0 20px;
}

code {
  font-family: "Fira Code", "Noto Serif SC";
  font-weight: 600;
}

article {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.post-ads {
  margin: 50px 0;
}

.markdown-body {
  font-size: 18px;
  max-width: 100%;
}

.markdown-body a {
  text-decoration: underline;
  text-decoration-color: #000;
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  border-radius: 10px;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: #ededef;
  display: inline-block;
  border-radius: 5px;
}

/* reset code */

.markdown-body pre {
  background-color: #ededef!important;
}
.markdown-body pre > code {
  padding: 0;
  font-size: 100%;
  background-color: inherit;
  border: 0;
  display: inherit;
}

article div.highlight {
  overflow-x:auto;
}

/* i18n */

.Chinese .markdown-body {
  line-height: 200%;
}

/* header */

.site-date-catalog {
  font-size: 2rem;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 32px;
  font-family: "Bungee Shade", sans-serif;
}
.header-title a {
  text-decoration: none;
}

.header-subtitle {
  color: #666;
}

.header-items {
  margin: 5px 0;
  padding: 0 12px
}

.header-item {
  margin: 0 5px;
}

.header-line {
  width: 100%;
  border-bottom: 3px solid;
  border-color: #000;
}

.lang-switch {
  font-weight: 600;
}

/* posts list */

#posts-list {
  min-height: calc(100vh - 400px);
}

.posts-line {
  font-size: 1.2rem;
  margin: 12px 0;
}

.posts-categories {
  font-size: 0.8rem;
  margin: auto;
  text-align: center;
}

.posts-date,
.site-footer,
.posts-category,
.site-date-catalog,
.post-tags {
  user-select: none;
}

.posts-category {
  padding: 3px 0;
  border: #000 2px solid;
  border-radius: 5px;
  /* margin-bottom: 3px; */
}

.site-footer {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 12px 0;
  border-width: 3px;
  border-style: solid none;
  border-color: #000;
}

.site-footer-item {
  margin-right: 12px;
}

/* post */

.post-content img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin-right: auto;
  margin-top: 12px;
}

.post-header {
  margin-bottom: 15px;
}

.post-title {
  margin: 20px 0 5px;
  font-size: 2rem;
  font-weight: 600;
}

.post-tags {
  display: inline;
  font-weight: 600;
  padding: 2px 5px;
  margin-right: 6px;
  border: #000 2px solid;
  border-radius: 5px;
}

.post-date {
  /* font-weight: 800; */
  /* font-style: italic; */
  color: #999;
}

.post-author {
  float: right;
  font-weight: 600;
}

.page-content {
  min-height: 60%;
}

.post-content {
  margin-bottom: 50px;
}

.post-content p {
  hyphens: auto;
  line-height: 1.8;
  /* text-align: justify; */
  text-justify: ideographic;
  margin-bottom: 1em;
}

.related-content {
  border-width: 3px;
  border-style: solid;
  border-color: #000;
  padding: 0 10px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.related-content li {
  margin: 5px 0;
}

.contents {
  user-select: none;
  position: relative;
  left: -2px;
  background-color: rgba(233, 233, 233, 0.5);
  width: 35%;
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: #000;
  /* padding: 3px 5px; */
  margin-bottom: 10px;
  margin-top: 0px;
  /* min-height: 1.5em; */
}

.contents ol {
  padding-right: 30px;
}

.contents ol ol {
  padding-right: 10px;
}

#content-body {
  display: block;
}

.contents .hide-tool {
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 0;
}

.contents .content-title {
  font-size: 1.25em;
  margin-left: 0.5em;
}

/* taxonomy */

.taxonomy-term {
  font-size: 3rem;
}

/* gallery */

.gallery-img {
  text-align: center;
}

.gallery-img span {
  text-align: center;
}

.gallery-img-desc {
  font-size: 0.8em;
  font-weight: 800;
}

/* disqus */

#disqus_thread {
  position: relative;
}

#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background: white; */
}

.disqus_tip {
  text-align: center;
  margin-bottom: 20px;
  height: 80px;
  background-color: #ededef;
  border-radius: 5px;
  padding: 0.4em 0.8em;
}

.disqus_tip div.tip_words {
  position: relative;
  font-size: 18px;
  top:50%;
  transform:translateY(-50%);
}
@media screen and (max-width: 600px) {
  /* .header-title,
  .header-subtitle,
  .header-items {
    text-align: center;
  } */

  .posts-line {
    font-size: 16px;
  }

  .markdown-body {
    font-size: 16px;
  }
  .post-title {
    font-size: 2rem;
  }
  .post-content p {
    letter-spacing: 0.05em;
  }
}

@media screen and (max-width: 48em) {
  .posts-category {
    display: none;
  }
  .contents .hide-tool {
    display: none;
  }
  .contents {
    width: 100%;
  }
}

.markdown-body blockquote {
  box-sizing: border-box;
  border-left: 5px solid #000;
  margin: 20px 0;
  padding: 0 0 0 10px;
  background: rgba(233,233,233,.5);
}

.markdown-body blockquote p {
  margin: 0;
}

.markdown-body > table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}
.markdown-body > table td,
.markdown-body > table th {
  padding: 0;
}
.markdown-body > table th {
  font-weight: 600;
}
.markdown-body > table td,
.markdown-body > table th {
  padding: 6px 13px;
  border: 1px solid #b3b3b3;
}
.markdown-body > table tr {
  background-color: #fff;
  border: 1px solid #ededef;
}
.markdown-body > table tr:nth-child(2n) {
  background-color: #f7f7f7;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  transition: all 0.2s ease;
}

*::-webkit-scrollbar-thumb {
  background: #595967;
  border-radius: 1px;
}
*::-webkit-scrollbar-track {
  background: #e2e2e2;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

